.btn-facebook, .btn-google, .btn-twitter {

    width: 32%;
    padding: 3px;
    margin: 2px;
}

.btn-facebook{
    background: #b3df16;
    color:#fff;
}

.btn-google{
    background: #b8210d;
    color:#fff;

}

.btn-twitter{
    background: #0a4b7c;
    color: #fff;
}